<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../../assets/images/museo_prado.jpeg" class="d-block w-100" alt="Museo del Prado">
        <div class="carousel-caption d-none d-md-block">
          <h5>Museo del Prado</h5>
          <p>Galeria de obras de arte</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval='2000'>
        <img src="../../../assets/images/reina_sofia.jpeg" class="d-block w-100" alt="Reina Sofia">
        <div class="carousel-caption d-none d-md-block">
          <h5>Reina Sofia</h5>
          <p>Guernica de Picasso </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval='2000'>
        <img src="../../../assets/images/sorolla.jpeg" class="d-block w-100" alt="Museo Sorolla">
        <div class="carousel-caption d-none d-md-block">
          <h5>Museo Sorolla</h5>
          <p>Habitacion del pintor</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
