<mat-tab-group>
  <mat-tab label="Formulario">
    <mat-form-field >
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field> <br/>

    <mat-form-field >
      <mat-label>Apellido</mat-label>
      <input matInput>
    </mat-form-field> <br/>

    <mat-form-field >
      <mat-label>Estudios</mat-label>
      <mat-select [formControl]="estudios">
          <mat-option [value]="">Sin estudios</mat-option>
          <mat-option [value]="">Estudios primarios</mat-option>
          <mat-option [value]="">ESO</mat-option>
          <mat-option [value]="">Grado medio</mat-option>
          <mat-option [value]="">Grado superior</mat-option>
      </mat-select>
    </mat-form-field> <br/>
  </mat-tab>

  <mat-tab label="Grid">
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let item of nombres" [style.background]="item.color">
        {{item.nombre}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Textos">
    <p>Texto defecto</p>
    <p class="mat-h1">Ejemplo h1</p>
    <p class="mat-headline">Ejemplo h1</p>
    <p class="mat-h2">Ejemplo h2</p>
    <p class="mat-title">Ejemplo h2</p>
    <p class="mat-display-1">Ejemplo display 1</p>
    <p class="mat-display-2">Ejemplo display 2</p>
    <p class="mat-display-3">Ejemplo display 3</p>
    <p class="mat-display-4">Ejemplo display 4</p>
    <p class="mat-body">Ejemplo body</p>
    <p class="mat-body-strong">Ejemplo body strong</p>
    <p class="mat-small">Ejemplo small</p>
    <p class="mat-caption">Ejemplo caption</p>
  </mat-tab>

  <mat-tab label="Botones">
    <div>
      <button mat-button color="primary">Boton</button>
      <button mat-button color="accent">Boton</button>
      <button mat-button color="warn">Boton</button>
    </div>

    <div>
      <button mat-raised-button color="primary">Boton</button>
      <button mat-raised-button color="accent">Boton</button>
      <button mat-raised-button color="warn">Boton</button>
    </div>

    <div>
      <button mat-stroked-button color="primary">Boton</button>
      <button mat-stroked-button color="accent">Boton</button>
      <button mat-stroked-button color="warn">Boton</button>
    </div>

    <div>
      <button mat-fab color="primary">Boton</button>
      <button mat-fab color="accent">Boton</button>
      <button mat-fab color="warn">Boton</button>
    </div>

    <div>
      <button mat-mini-fab color="primary">Boton</button>
      <button mat-mini-fab color="accent">Boton</button>
      <button mat-mini-fab color="warn">Boton</button>
    </div>

    <div>
      <button mat-icon-button color="primary">
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon>shop</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Menus">
    <button mat-icon-button [mat-menu-trigger-for]="menu1">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu1="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="pepito">Opcion 1</button>
      <button mat-menu-item [mat-menu-trigger-for]="juanito">Opcion 2</button>
    </mat-menu>

    <mat-menu #pepito="matMenu">
      <button mat-menu-item>Opcion 1.1</button>
      <button mat-menu-item>Opcion 1.2</button>
    </mat-menu>

    <mat-menu #juanito="matMenu">
      <button mat-menu-item>Opcion 2.1</button>
      <button mat-menu-item>Opcion 2.2</button>
    </mat-menu>
  </mat-tab>
</mat-tab-group>